.about{
    margin-top: 40px;
    margin-left:12px;
   
}
.aboutcontainer{
    margin-top: 25px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
    
}